.abc123 {
  background-image: url("house.jpeg");
  background-size: cover;
  width: 700px;
  height: 400px;
  margin-top: -15%;
}
.first2 {
  display: flex;
  flex-direction: row;
}
.btn2 {
  margin-top: 100px;
  margin-left: 250px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#credits {
  margin-left: -80px;
  background-color: #1D924A;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 14px 10px;
  outline: none;
  cursor: pointer;
  transition: 1s;
  color: white;
  margin-bottom: 100px;
}
#credtxt {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 150px;
  font-size: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  background-color: lightgrey;
}
#credits:hover {
  background-color: #247400;
  transition: 1s;
}
/*@import url('https://fonts.googleapis.com/css2family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/
body {
  background: linear-gradient(to bottom, #1F191B, #38191B);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 65%;
  left: 24.8%;
  border: 2px solid black;
}
#item1 {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
#item2 {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
#img1 {
  display: none;
}
#key1 {
  display: none;
  padding-top: 30px;
}
#lock1 {
  display: none;
  position: absolute;
  left: 67%;
}
#sword {
  display: none;
}
.first {
  width: 1670px;
  height: 700px;
  background-image: url("580531c16cc48f961f991490e090e683.jpg");
  background-size: cover;
  opacity: 0.9;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first1 {
  width: 1770px;
  height: 700px;
  flex-direction: row;
  background-image: url("house.jpeg");
  background-size: cover;
  opacity: 0.9;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.scnd {
  width: 700px;
  height: 400px;
  background-image: url("008307ec0a3ca7b1cd6b8970d8796c28.jpg");
  background-size: cover;
  margin-top: -15%;
  padding-left: 20px;
  padding-bottom: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.thrd {
  width: 800px;
  height: 600px;
  background-image: url("9ede744ba5ac4801b66ec1d88f0af43f.jpg");
  background-size: cover;
  padding-left: 20px;
  padding-bottom: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#speech {
  border: 1px solid whitesmoke;
  background-color: #19285B;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  height: 100px;
  width: 500px;
  opacity: 0.7;
}
.scnd1 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("keith-angela-bacx-highresscreenshot00045.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd1 div {
  width: 60%;
}
.scnd0 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("p1.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd0 div {
  width: 60%;
}
.scnd2 div {
  width: 60%;
}
.scnd2 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("3b0258d7958c42a480b75ca30b831351.jpeg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
#abca {
  margin-bottom: 250px;
  position: absolute;
  left: 40%;
  top: 20%;
  display: none;
}
#abcaa {
  margin-bottom: 250px;
  position: absolute;
  left: 57%;
  top: 20%;
  display: none;
}
#gun {
  margin-bottom: 250px;
  position: absolute;
  left: 53%;
  top: 15%;
  display: none;
}
#zombie {
  margin-bottom: 250px;
  position: absolute;
  left: 45%;
  top: 8%;
  display: none;
}
#zombie5 {
  margin-bottom: 250px;
  position: absolute;
  left: 45%;
  top: 8%;
  display: none;
}
#zombie1 {
  margin-bottom: 250px;
  position: absolute;
  left: 45%;
  top: 8%;
  display: none;
}
#zombie2 {
  margin-bottom: 250px;
  position: absolute;
  left: 58%;
  top: 30%;
  display: none;
}
#zombie3 {
  margin-bottom: 250px;
  position: absolute;
  left: 38%;
  top: 18%;
  display: none;
}
#zombie4 {
  margin-bottom: 250px;
  position: absolute;
  left: 48%;
  top: 18%;
  display: none;
}
#target {
  margin-bottom: 250px;
  position: absolute;
  left: 58%;
  top: 30%;
  display: none;
}
#key {
  position: absolute;
  left: 30%;
  top: 30%;
  display: none;
}
#lock {
  position: absolute;
  left: 46%;
  top: 26%;
  display: none;
}
.scnd3 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("897e2b53-e573-4c6e-b5f3-78d916d2ad83.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd4 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("568da216-6881-42fd-b1be-679ec51dfd49.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd5 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("haunted-house-interior-photos-v0-v5ulpkpkpap91.webp");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd6 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("linda-vista-hospital-matador-seo-940x622.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd7 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("0f2953b8-5d24-4960-90bc-bcf453fcd119.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd8 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("corridor-hallway-old-run-down.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd9 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("stock-image-basement-stairs (1).webp");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd10 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("tokyocover.webp");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd11 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("Dark-Hallway-Blog-Post-Image.jpeg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd12 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("depositphotos_498965338-stock-photo-halloween-old-haunted-house-old.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd13 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("f05fb53e-17dd-4ccc-8c8e-842635fe0b59.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd14 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("1.webp");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd15 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("istockphoto-516550747-612x612.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd16 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("Common-causes-of-rollover-accidents.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd17 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("images (2).jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd18 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("istockphoto-1322423425-612x612.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd19 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("Forest-Cottages-Slider-3.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd20 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("forest-hall-guest-house-standard-rooms-6.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd21 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("logo-card.png");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd22 {
  margin-top: -15%;
  width: 700px;
  height: 400px;
  background-image: url("1258544.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.scnd3 div {
  width: 60%;
}
.scnd4 div {
  width: 60%;
}
.scnd5 div {
  width: 60%;
}
.scnd6 div {
  width: 50%;
}
.scnd7 div {
  width: 60%;
}
.scnd8 div {
  width: 60%;
}
.scnd9 div {
  width: 60%;
}
.scnd10 div {
  width: 60%;
}
.scnd11 div {
  width: 60%;
}
.scnd12 div {
  width: 60%;
}
.scnd13 div {
  width: 60%;
}
.scnd14 div {
  width: 60%;
}
.scnd15 div {
  width: 60%;
}
.scnd16 div {
  width: 60%;
}
.scnd17 div {
  width: 60%;
}
.scnd18 div {
  width: 60%;
}
.scnd19 div {
  width: 60%;
}
.scnd20 div {
  width: 60%;
}
.scnd21 div {
  width: 60%;
}
#timer {
  width: 67px;
  height: 33px;
  color: yellow;
  background-color: rgba(90, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  text-align: center;
  bottom: 70%;
  left: 32%;
  border-radius: 10px;
  display: none;
}
#para {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  text-align: center;
  bottom: 70%;
  left: 26%;
  border-radius: 10px;
  display: none;
}
h1 {
  background-color: rgba(90, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  /* backdrop-filter: blur(5px);*/
  padding: 20px 20px;
  font-size: 50px;
  color: bisque;
  font-weight: 600;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
#paragraph {
  -webkit-backdrop-filter: blur(5px);
  /* backdrop-filter: blur(5px);*/
  margin-top: 20px;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
#paragraph2 {
  background-color: rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px);*/
  padding: 10px 0px;
  font-size: 15px;
  color: white;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
.btn {
  margin-left: 100px;
  background-color: #008CBA;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  outline: none;
  cursor: pointer;
  transition: 1s;
  margin-top: 100px;
  color: white;
}
#btn {
  margin-left: 10px;
  background-color: #910000;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 11px 10px;
  outline: none;
  cursor: pointer;
  transition: 1s;
  color: white;
  margin-bottom: 50px;
}
#btn:hover {
  text-decoration: underline;
  background-color: #700D00;
}
#btn1 {
  width: 120px;
  margin-left: 10px;
  background-color: blue;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  outline: none;
  cursor: pointer;
  transition: 1s;
  color: white;
  margin-bottom: 330px;
  position: absolute;
}
#btn1:hover {
  text-decoration: underline;
  background-color: #001BA7;
}
.btn:hover {
  background-color: #247400;
  transition: 1s;
}
.btn1 {
  background-color: #555555;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  outline: none;
  transition: 1s;
}
.btn1:hover {
  background-color: #910000;
}
#p4 {
  margin-top: 40px;
  font-size: 20px;
  padding: 10px 10px;
  letter-spacing: 1px;
  background-color: lightgrey;
}
.btnp4 {
  margin-left: 10px;
  margin-top: 20px;
  background-color: #555555;
  font-size: 17px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  outline: none;
  transition: 1s;
}
.btnp4:hover {
  background-color: brown;
  text-decoration: underline;
  transition: 1s;
}